<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://188.166.252.152:3306/young_test</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.young.domain.KsUser"/>
        <mapping class="com.young.domain.KsCase"/>
    </session-factory>
</hibernate-configuration>